.row-header{
    margin:0px auto;
    padding:0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:darkcyan;
    color:floralwhite;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
  
button {
    margin-left: 5px;
    width:min-content;
}

li {
    padding: 10px;
}

#main #description {    
  /* border: 1px solid black;
  width: 305px; 
  white-space: nowrap;
  word-wrap: normal;
  height: 200px;
  overflow: hidden; */
  background-color:azure;
  text-overflow: ellipsis;
}

#logo {
    border-radius: 80%;
}
