.row-header{
    margin:0px auto;
    padding:0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:darkcyan;
    color:floralwhite;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
  
  
 /* #main{
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
  .toy-avatar {
    justify-self: center;
    height: 4rem;
    width: auto;
  } */
  
  /* #container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  } */
