.row-header{
    margin:0px auto;
    padding:0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:darkcyan;
    color:floralwhite;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
  
button {
    margin-left: 5px;
    width:min-content;
}

li {
    padding: 10px;
}

#main #description {    
  white-space: normal ;
  word-wrap: normal;
  overflow: hidden;
  background-color:rgb(213, 207, 226);
  text-overflow: ellipsis;
  padding: 5px;
}

#logo {
    border-radius: 80%;
}

header h2{
    padding-bottom: 20px;
}